*.idea/
.idea/*
.vscode/
.idea/workspace.xml
*templates_html/
*__pycache__
utils/__pycache__/*
.config.py
config.py
db.sqlite3
.db.sqlite3

.env*
!.env.example
.env.test
.env.development.local
.env.production.local
.env.test.local
.env.local